[2020-10-31 19:27] bielikb opened #1 "Section Headers/Footers are not animated along the cells (insert/update/delete)"
Hi,

Im trying to integrate your ChatLayout library into an iOS project. At first, let me thank you for awesome job you did here.
Currently Im trying to structure the chat the way that:
Every message in the chat is represented as a single section in the collection view and read indicator is always shown under the latest message as a **footer** of the last message (section).

**1. Self-sizing/autol

[2020-11-01 20:18] ekazaev commented on #1
@bielikb
Thank you for your question. Ill try to explain here what is going on.

Let's start with the section question first.

You have the next code

[code]
So everytime you add a new section you also regenerate an old one and it gets a new `id`. So DifferenceKit of course generated the command to delete an old section and insert a new one.

So when you add a new section the next commands are bei

[2020-11-01 20:34] ekazaev commented on #1
@bielikb
Now lets come back to the first question related to layout:
Your `ConversationCell` implementation has the next code:
[code]

But then you say to UICollectionLayout that your estimated height and width is going to be 1 pixel
[code]
So when UICollectionView starts to create or deque a cell, it asks ChatLayout "What is the size of the cell going to be". Chat layout replies that it estimates

[2020-11-02 14:31] bielikb commented on #1
Hi @ekazaev,
thanks for a thorough explanation!
As you properly stated out, this is just a proof of concept/sample, usage of hardcoded sizing constants is not intended.

**Animating the sections:**
I followed your suggestions and I did get rid of the footers/headers from the cells. In the updated version of the sample app, they're represented as standalone cells for a given section.
[code]

Thank

[2020-11-02 14:55] ekazaev commented on #1
Hi, @bielikb

I have noticed that as well and it was fixed in todays update. Basically the reloaded cell counter was never emptied after animation. I probably lost it at some point.

Please, update your `ChatLayout` Version to the latest one. The issue should be fixed there.

Regards,
Eugene.

[2020-11-02 15:10] ekazaev commented on #1
@bielikb  If I can give you another advice - do not use sections at all. There are some natural limitations within the collection view. One of them, for example, you can not move the cell in to the section that is being moved or reloaded, the collection view will crash. This statement is valid for every UICollectionViewLayout. So, DifferenceKit splits those type of updates into steps to avoid such

[2020-11-02 15:28] ekazaev commented on #1
@bielikb Also I noticed in your updated app that after you changed footer to be a cell you provide wrong amount of items in the section. It leads to the crash.

[2020-11-02 15:58] ekazaev commented on #1
@bielikb Also there is still a problem with the model. When you add a new section there are 4! calls being made:
[DeleteItem(0), DeleteItem(0,1)]
[InsertSection(1)]
[InsertItem(0,0)]
[ReloadSection(1)]

[2020-11-03 11:22] ekazaev commented on #1
@bielikb I am closing the issue. But Do not hesitate to ask if you'll have any other questions

[2020-11-03 11:22] #1 closed

[2021-01-31 06:41] mama805 opened #4 "mama805/ChatLayout"
❤️

[2021-02-01 12:15] ekazaev commented on #4
Thank you ☺️

[2021-02-01 12:15] #4 closed

[2021-02-01 22:45] mschonvogel opened #5 "AssertionFailure"
![image](https://user-images.githubusercontent.com/370839/106526419-dc39dc80-64e5-11eb-8a7b-c3e9a34e5c66.png)

Hey, first of all, good work with this library! 🙂 I switched from MessageKit.

I use ChatLayout with RxDataSources and somehow every now and then I'm getting an assertion failure when adding a new message.

I have not yet looked at the layout in detail and wondered if you might know what

[2021-02-02 00:52] ekazaev commented on #5
@mschonvogel Hi

I never checked it with RxDataSources. But it should not be something big. Most likely I am missing something in my calculation. Can you please provide an example where I can play around with it?

Also, so I can start quicker, can you add print to the ChatLayout.prepare(forCollectionViewUpdates:) and print updateItems for me.
`print("\(updateItems)")`

I need a log what RXDataSour

[2021-02-02 01:01] ekazaev commented on #5
@mschonvogel At the first look it seems that RXDataSources flattens somehow the update commands.
Can you please replace the `else` block at line 514 in `StateController` with the next code:
[code]
But of course an example with a reproducible crash will be ideal.

[2021-02-02 01:11] ekazaev commented on #5
@mschonvogel
Can you also try to replace an `else` block at line 514 in StateController with the next code:
[code]
It will give me some ideas about what is going on. But of corse an example with the crash is ideal.

[2021-02-02 09:35] mschonvogel commented on #5
@ekazaev thank you for the quick reply

I've added RxDataSources to the example but I'm not able to replicate the bug in there: https://github.com/mschonvogel/ChatLayout/tree/rxdatasources

print("\(updateItems)"):
[code]

[2021-02-02 09:37] ekazaev commented on #5
Thank you @mschonvogel
Ill have a look soon. I think I know what is going on. So expect that it will be fixed soon.

[2021-02-02 09:58] mschonvogel commented on #5
Thank you @ekazaev. Btw replacing the block at line 514 helped, it's not hitting the assertionFailure anymore.

However, ` prepare(forCollectionViewUpdates:)` seems to get called twice now which leads to an ugly insert animation:
print("(updateItems)"):
[code]

[2021-02-02 10:46] ekazaev commented on #5
@mschonvogel That is absolutely normal that the `prepare(forCollectionViewUpdates:)` is being called twice or more times. It mean that the `performBatchUpdates` is also being called twice. But I would recommend you to check your model. and the comparison there. The chain of the commands has no sense.  It deletes the cell and [0, 0] and then inserts it [0, 0]. Are you sure it is what suppose to hap

[2021-02-02 12:23] mschonvogel commented on #5
@ekazaev Okay, I found the problem. 🤦‍♂️ I am using a Firebase Firestore query listener with a limit of 25. Whenever I insert a new message, an older one gets deleted. that's why the deletes were at the beginning of the collection.

Now everything looks fine when I insert a new message...:
[R(0,34)]
[I(0,35)]

I'll test this some more, but everything should work as expected now. I'm happy to jump

[2021-02-02 13:18] ekazaev commented on #5
@mschonvogel Good to know. Thank you.
I have just released the 1.1.1 version. It contains performance improvements and also a fix for your issue. I neede to change the processing order. I covered your case with a unit test and it seems to be fine. Please check it out.

Please do not hesitate to contact me on twitter @ekazaev

[2021-02-02 13:18] #5 closed

[2021-02-02 14:34] mschonvogel commented on #5
Thank you, it works as expected now!

[2021-02-02 14:37] ekazaev commented on #5
@mschonvogel Fantastic! Happy to hear!

[2021-02-02 21:22] mschonvogel opened #9 "keepContentOffsetAtBottomOnBatchUpdates add tolerance range"
Hello @ekazaev 👋 Currently, the layout only scrolls automatically when you have scrolled all the way down. Can you add a configuration for a tolerance range? So that even if you are for example 100pt from the bottom of the Scrollview and a new message comes in, it still scrolls automatically?

[2021-02-03 01:12] ekazaev commented on #9
@mschonvogel hi

I was thinking about it but I think iMessage behaves differently. It is controlled by the host during the sending or receiving the new message. Can you please describe the behavior with that tolerance?

[2021-02-03 10:39] ekazaev commented on #9
@mschonvogel
Is that what you expect to see when you say tolerance?
https://user-images.githubusercontent.com/20243258/106735361-084f7d80-660c-11eb-94ff-07eae2d5d11d.mov

[2021-02-03 10:45] mschonvogel commented on #9
@ekazaev The left screen should automatically scroll to the latest message here
https://user-images.githubusercontent.com/370839/106735887-105feb00-6615-11eb-9c70-02f8fdd3a1de.mov

[2021-02-03 10:47] ekazaev commented on #9
Or do you mean that it should scroll fully to the bottom if the new message has come?
It seems to me that it should be decided and implemented in the host app. For collection view layout it just a cell. IT does not distinguish them from each other. It can be a new message, it can be "Delivered/Read" bage change, typing indicator. So I think that if "new message comes" - the app knows that and can

[2021-02-03 10:49] ekazaev commented on #9
@mschonvogel I see. Thanks. It seems to me like its an app responsibility tbh. And it seems that it is kinda easy to implement?

[2021-02-03 11:04] mschonvogel commented on #9
Yes, I can implement that in the host app of course. But I thought that somehow makes sense since the layout already takes care of setting the content offset automatically

[2021-02-03 11:05] mschonvogel commented on #9
I expect the collectionview to scroll if I'm like max 20points await from the bottom @ekazaev

[2021-02-03 11:07] ekazaev commented on #9
Ist just sounds like it has logic inside. If new message -> Scroll, If typing indicator appears -> Dont, If we inserted "read" bage -> dont scroll.

I understand you, but it is something that should be implemented in the host app. Or a framwork built arount ChatLayout. But not a layout itself.

[2021-02-03 11:09] mschonvogel commented on #9
Okay, all right, I'll implement this myself 🙂

[2021-02-03 11:09] #9 closed

[2021-02-03 11:11] ekazaev commented on #9
Sorry about that.
I just see that if it will be in the layout you will have to implement the opposite logic in the host app:
If new message -> Set tolerance to 20px, If typing indicator appears -> Set tolerance to 0, If we inserted "read" cell -> Set tolerance to 0.

[2021-02-03 11:25] mschonvogel commented on #9
I understand what you mean but I still disagree, which is not a problem 🙂. The case I want to cover here is: The user thinks they are at the end of the chat history, but they're not, because 10pt away. So I would expect scrolling for all inserts. typing indicator, state update etc.

[2021-02-03 11:30] ekazaev commented on #9
I am just trying to find the right balance here :)
I use that layout in my work. And I remember (even though that was in the view controller) that I was scrolling down every time something appeared at the bottom. And it did not pas a QA because I got "Dont scroll user to the bottom every time a typing indicator appears"

[2021-02-03 11:39] mschonvogel commented on #9
Yes, I understand the thinking of your QA department, but in that case, if you are only a few pixels off the bottom, I would still scroll automatically ☝️😀

[2021-02-03 11:56] ekazaev commented on #9
Something like this will solve the issue in the example:
[code]

[2021-02-03 12:05] ekazaev commented on #9
Let me sleep with that thought. @mschonvogel
I mean, I understand where are you coming from. The question is if `keepContentOffsetAtBottomOnBatchUpdates` is not enabled, but tolerance is set. Should it scroll to the top within that tolerance?

[2021-02-03 12:11] ekazaev commented on #9
https://user-images.githubusercontent.com/20243258/106745387-ed373a80-6618-11eb-961c-b9a8ea0fd3a2.mov

[2021-02-03 12:13] mschonvogel commented on #9
That looks good! I'd probably utilize an enum for that, maybe like so:

[code]

[2021-02-03 12:15] ekazaev commented on #9
Ill think about it. I promise. But for now everything that comes into my head tells me against it.

[2021-02-03 12:19] ekazaev commented on #9
I think it actually has sense to scroll to the bottom before anything appears if user within that tolerance to the bottom.

[2021-02-25 18:42] tareksabry1337 opened #10 "Keeping CollectionView at bottom when inserting any new message."
First off, Hats off for this amazing layout, I have always struggled with chat layouts due to weird bugs and unknown issues that happen during the development, but this layout has made my life 100x easier.

What I'm trying to achieve is to always keep the CollectionView at bottom when a new message is inserted.

I tried this code snippet

[code]

But it looks like it's not working and throwing thi

[2021-02-28 11:09] ekazaev commented on #10
@tareksabry1337 Hi. Thank you very much.
Back to your issue. The example app keeps the layout at the bottom without any scrolling required.
Also, you can not do `scrollToItem` at that place because insertion animation is in progress and that index path does not exists at that moment.

[2021-02-28 11:19] tareksabry1337 commented on #10
Yes I'm trying to scroll to the bottom when a new message appears even if the user is not at the bottom of the conversation. I achieved "keeping at bottom" always by using `keepContentOffsetAtBottomOnBatchUpdates` but I'd like to keep it always at bottom no matter what.

[2021-03-01 12:49] ekazaev commented on #10
@tareksabry1337 . Thank you. I see. `keepContentOffsetAtBottomOnBatchUpdates` is the flag that changes the behaviour of the scrolling. But not every batch update is a "new message". You may reload cell or delete a cell. Or typing indicator or read/delivered labels are not exactly a "new message". So you need to detect when exactly you want to scroll to the bottom and use `self.collectionView.scrol

[2021-03-01 12:52] ekazaev commented on #10
As a demo you can achieve it in the example app by adding  `self.collectionView.scrollToItem(at: IndexPath(item: sections.first!.elements.count - 1, section: 0), at: .bottom, animated: true)` to the completion block at `func process()`.
![lastmessage](https://user-images.githubusercontent.com/20243258/109499594-06eb6680-7a8d-11eb-80f9-031c712e9efe.gif)

[2021-03-01 13:03] ekazaev commented on #10
@tareksabry1337 Keep in mind that `scrollToItem(at:` does not include the desired offset from the bottom and it also just calculates the offset of the item at the beginning of the animation, so if there are some uncalculated items in between it may not scroll you exactly to the desired place. So better try to use `restoreContentOffset(with:)`

[2021-03-01 13:28] tareksabry1337 commented on #10
I was able to achieve it using

[code]

But my question here, is it possible to animate "restoreContentOffset" ?

Thanks

[2021-03-01 14:08] ekazaev commented on #10
@tareksabry1337 Of course, use `UIView.animate(withDuration:...)`:
[code]
![restorecontent](https://user-images.githubusercontent.com/20243258/109508213-84b46f80-7a97-11eb-8981-a9cd974a41a0.gif)

[2021-03-01 14:12] ekazaev commented on #10
@tareksabry1337 Just keep in mind that you should not do batch updates during the animation as it can lead to the UI glitches

[2021-03-01 14:19] #10 closed

[2021-03-01 14:22] tareksabry1337 commented on #10
This worked perfectly, Thanks for your effort !

[2021-03-01 16:52] ekazaev commented on #10
@tareksabry1337 My pleasure. Good luck

[2021-03-09 16:27] Cristiane-Burlamaqui opened #11 "Messages are pushed up when keyboard appears"
Messages are pushed up when keyboard appears creating a gab between last message and keyboard, however there is space available.

Image without keyboard showing the screen has enough space:

![without keyboard](https://user-images.githubusercontent.com/78358306/110503153-d0989180-80f3-11eb-8ab2-35ae6715e3fe.png)

Image with keyboard appearing showing the gap:

![with keyboard](https://user-images.

[2021-03-09 17:42] Cristiane-Burlamaqui opened #12 "Screen flickering when moving from landscape to portrait"
**Steps:**

Send and receive messages
Move the phone to landscape
Move it back to portrait

**Expected result:**

Moving to portrait without flickering

**Actual result:**

Conversation flickers when moving to portrait

https://user-images.githubusercontent.com/78358306/110513884-a00a2500-80fe-11eb-9158-e7eaacec15a1.MP4

[2021-03-09 20:23] #12 closed

[2021-03-09 20:27] ekazaev commented on #11
@Cristiane-Burlamaqui Thank you. Ill investigate it and will comeback to you. At the first glance it seems to me like an issue in the Example app rather than the `ChatLayout` itself, as I haven't noticed that behavior in the production app. I will come back to you. If you can provide your modified project - it will speed up my response.

[2021-03-09 20:45] ekazaev commented on #11
@Cristiane-Burlamaqui Unfortunatly I was not able to reproduce described behaviour. To continue my investigation I either need more details or ideally modified by you Example app.
https://user-images.githubusercontent.com/20243258/110535397-22eba980-8118-11eb-99c3-0ca23b145e3c.mp4

[2021-03-09 23:36] ekazaev commented on #11
@Cristiane-Burlamaqui I managed to reproduce it. The fix will be released soon.

[2021-04-08 13:59] deehegarty opened #14 "CollectionView does not scroll to last item when not visible item"
**Expected behaviour:**
When a user sends a message and taps on the send button, the should be a scroll to the last item in the CollectionView.

**Actual behaviour:**
When a user sends a message and taps on the send button, the CollectionView will scroll to show the just top of the last item.

It appears to be taking the estimated item size instead of the actual size of the new cell that has just

[2021-04-09 08:18] ekazaev commented on #14
Hi @deehegarty

Thank you for the issue. Can you explain me some details. Current Example app does not scroll to the bottom of the bottom of the collection view after the new message is sent. Is that the issue within your modification?

When a user sends a message and taps on the send button, the CollectionView will scroll to show the just top of the last item.

[2021-04-09 08:42] ekazaev commented on #14
I should give some details here.
Whatever happens with layout items outside of visible area - they will always have an estimated value. Every collection layout behaves this way. The actual size of the cell will be calculated only at the moment of appearance of the cell. Just imagine the situation when you added not just 1 cell but 10000 but all of them are outside of the visible area. It will take

[2021-04-09 10:55] ekazaev commented on #14
@deehegarty Please let me know if everything clear for you. If you have any other question - please do not hesitate to ask.

[2021-04-09 14:15] deehegarty commented on #14
@ekazaev Thanks so much for this information (some really good info here). What I had inside `public func inputBar(_ inputBar: InputBarAccessoryView, didPressSendButtonWith text: String)` was a call to `scrollToBottom()` instead of the code snippet you have just provided. I had thought that calling `scrollToBottom()` at this point would scroll to the last item in the CollectionView.

[2021-04-09 14:44] ekazaev commented on #14
@deehegarty I think its just a misleading name of the method. I use it only to adjust the offset the the size of input view changes, it usually happens within the visible zone, so for me those nuances are not critical. Ill update the Example app to avoid the confusion.

[2021-04-09 15:10] #14 closed

[2021-04-09 15:12] deehegarty commented on #14
@ekazaev Thanks so much for the clarification 😃

[2021-04-20 14:20] saqibdb opened #15 "Combine multiple images and text in a single bubble"
Hello, the pod works beautifully and controls are very good as well.
But I am wondering if there is any possible way to combine multiple images and text in a single bubble

![image](https://user-images.githubusercontent.com/5718485/115412147-8388fe80-a20d-11eb-8d11-c1971899dd15.png)

[2021-04-21 00:05] ekazaev commented on #15
@saqibdb Thank you very much. Of course it is possible. You just need to implement it the way you like. For example use the current image cell in the example app and propagate there 4 images instead of 1. I would also recommend to optimize image sizes to that rendering of said images would be seamless

[2021-04-21 07:12] saqibdb commented on #15
Allright, yes got it..... Thanks

For anyone using the example, go to ImageView.swift and make multiple imageViews to incorporate the results

[2021-04-21 07:12] #15 closed

[2021-04-21 07:19] ekazaev commented on #14
@deehegarty JFYI: The example app was recently updated to demonstrate one of the possible implementations of your request

[2021-04-21 15:16] ekazaev commented on #12
@Cristiane-Burlamaqui I had another look into an issue you created. Can you provide more details as the jump that you have is too big for the reason I described above. I can not reproduce it. But, you need to keep in mind, that if rotation happens while UICollectionView is updating - there is no way to stop it and calculate the correct offset in principle. So you may see some jumps like in this gi

[2021-04-22 10:03] Cristiane-Burlamaqui commented on #12
Hello @ekazaev to reproduce the issue you have to stop load initial messages and comment out the ChatViewController class' line 153 `currentInterfaceActions.options.insert(.changingFrameSize)`, because it is only present on the example code and not in the ChatLayout's public API.
After those changes you'll see the gap between last message position and the message composer when you rotate from land

[2021-04-22 23:11] ekazaev commented on #12
@Cristiane-Burlamaqui I see what you are talking about. But this is exactly the resposibility of the host app. ChatLayout knows nothing about elements you have in your app and can not compensate their behaviour. As a layout itself it can not know that keyboar appeared for instance. It should be handled by the host app.

I can reproduce it with the changes you suggested - but there is nothing to fi

[2021-05-21 17:05] p4vlos opened #17 "Posting Image"
Can we add an attachment button or camera button next to the input EditText so we can post photos?

[2021-05-24 15:32] ekazaev commented on #17
Hi @p4vlos
Thank you. Do you mean add it to the Example app? That functionality dosnt come with the library itself and lays outside its responsibility.

I might add it someday. But you can reuse code that comes in the example app of https://github.com/nathantannar4/InputBarAccessoryView used in the example app.

[2021-05-24 15:34] ekazaev commented on #17
But feel free to open a PR if you manage to do it before me @p4vlos

[2021-05-26 15:03] ekazaev commented on #17
Closed because of no activity. Feel free to reopen it if there is more to add

[2021-05-26 15:03] #17 closed

[2021-05-29 14:02] AhmedRagabIssa opened #18 "ChatLayout didn't expose sectionHeadersPinToVisibleBounds option"
The ChatLayout is of type `UICollectionViewLayout` not `UICollectionViewFlowLayout` and I cannot set the `layout.sectionHeadersPinToVisibleBounds = true`

here is the code I used:

[code]

I need to set the section header sticky to the visible bounds.

[2021-05-31 08:28] ekazaev commented on #18
@AhmedRagabIssa hi

`ChatLayout` is not a`UICollectionViewFlowLayout` and it doesn’t have that flag as it doesn’t support that behavior.

[2021-06-03 09:50] ekazaev commented on #18
Closing due to inactivity

[2021-06-03 09:50] #18 closed

[2021-09-08 18:24] brunomunizaf opened #19 "Preserving contentOffset bottom when keyboard show/hides using UICollectionViewController"
Hello there,

Could you help me figuring out how to preserve the contentOffset from the bottom when the keyboard shows up or hides inside a UICollectionViewController? The example provided on the repo doesn't use a UICollectionVC so I figured you had to do all that keyboard listening etc. Without this I'm not being able to push the cells up along w/ the keyboard appearing. The content inset does c

[2021-09-09 11:40] ekazaev commented on #19
Hi @brunomunizaf

AFAIK `UICollectionViewController` will do some keyboard adjustments for you, so you don't have to change `contentInset` manually. But in your case you also want to change a `contentOffset.y` of your `UICollectionView` to push the content up when the keyboard appears. Thats what you need to do. There will be some edge cases when keyboard start to disappear, like if `UICollectionV

[2021-09-10 16:25] ekazaev commented on #19
@brunomunizaf I actually played around a bit and found a better way to deal with it to avoid calculations.
Please check it here - jsut replace the ChatViewController in the exampe with this one:
https://gist.github.com/ekazaev/563cdff9984af927784d74c5b5a22101

[2021-09-13 03:09] brunomunizaf commented on #19
Awesome, really appreciate that you took the time to help me out! I'll take a look at it right now, I believe it does the trick for me. Thanks again!!

[2021-09-13 09:16] ekazaev commented on #19
NP, @brunomunizaf. Just this approach gives you less control about what is happening. Let me know if it works for you.

[2021-09-15 08:17] ekazaev commented on #19
Closing due to inactivity

[2021-09-15 08:17] #19 closed

[2021-09-30 12:39] zendesk-benabu opened #22 "iOS 15 multiple performBatchUpdates causes an animation problem"
On the last release of the Chatlayout this issues was address but not really fixed.
In-fact in the example all actions are added one after the other. The way we use the library involves several changes at the same time.

**Step to reproduce:**
Have two different actions in the same operation like: remove a message and add a new one.
To simulate that I have updated the `sendMessage` function in `De

[2021-10-01 15:11] ekazaev commented on #22
@zendesk-benabu Hi. Thank you for the issue. Yeah. It’s another tale as long as time. I hoped that apple will fix what they broke in the final release of ios 15 (how could they fecked up that math that worked fine since ios 6i don’t understand), but it seems they are not going to. So it has to be handled on the client side. I’ll examine your PR a bit later and come back to you.

[2021-10-05 01:47] brunomunizaf opened #23 "Getting many prints of 'UICollectionViewRecursion' not sure what it means"
Hello again! :)

I'm getting a lot of prints of the following message:
```[UICollectionViewRecursion] cv == 0x7ff0518ece00 Disabling recursion trigger logging```
But I have no idea what is it about. After a quick google search It seems related to compositional layout on iOS 15 maybe? Do you have any idea what is going on?

Just for sake of more clarity (if any) it prints when dequeueing the cells

[2021-10-07 01:15] ekazaev commented on #23
@brunomunizaf Id suggest not to worry much about it for now. It seems that its apples internal problem. Looks like SwiftUI also causes it without even referencing the UICollectionView.
https://stackoverflow.com/questions/69397650/swiftui-disabling-recursion-trigger-logging-when-use-menu
Well, I assume that apple uses UICollectionView to draw the Menu itself. But Ill keep my eye on it. A bit busy t

[2021-10-07 01:22] ekazaev commented on #23
Ok, a lady from apple confirmed that its their logging that wasn't disabled. Dont worry about it.
https://twitter.com/caughtinflux/status/1439276097464528896?s=21

[2021-10-07 01:22] #23 closed

[2021-10-07 09:08] zendesk-benabu commented on #22
Thank you @ekazaev. It's annoying, maybe we need to report the issue to Apple.
However it may be wanted in order to use the new iOS15 `reloadItems` api.

[2021-10-07 18:31] ekazaev commented on #22
@zendesk-benabu
I think I managed to avoid that strange extra call.
Can I ask you to play around with origin/feature/fix_ios15 branch. Especially it will be help-full in you real project.

[2021-10-07 21:16] ekazaev commented on #22
@zendesk-benabu I tested on the available devices and simulators and it seems to be fine. I close the issue. Thank you again.

[2021-10-07 21:16] #22 closed

[2021-12-13 09:09] iBachek opened #27 "NSInternalInconsistencyException"
Hi, thank u for the new chat behaviour.

I faced with crash on your example app, you can reproduce it, if replace your code in `DefaultChatController`

Reason: invalid number of sections. The number of sections contained in the collection view after the update (170) must be equal to the number of sections contained in the collection view before the update (89), plus or minus the number of sections

[2021-12-13 09:22] ekazaev commented on #27
@iBachek Morning. I am not sure why you did that modification in the first place - you wrapped each cell into a section. The Example app doesn't support more then one section. If you need more then one section - you will have to modify the entire app.

PS: About supplementary views in general see https://github.com/ekazaev/ChatLayout#about-supplementary-views

[2021-12-13 09:42] iBachek commented on #27
@ekazaev section header header has a visibility behavior when scrolling and snapping to the top, this is necessary to separate messages by date

[2021-12-13 09:44] iBachek commented on #27
what parts do you mean?

[2021-12-14 09:57] ekazaev commented on #27
Firstly. This doesnt discount my comment above. If you want to have more then one section - you need to modify the rest of the app.

Secondly: Snapping header to the top is not supported by the layout itself. So if you need this behavior you'll need to implement it yourself. My assumption is that you need to create a fake date view at the top of the container view that will hold your collection vi

[2021-12-14 10:29] ekazaev commented on #27
About what parts to modify: At least you need to comment out the scrolling to the last item in ChatViewController line 470 as there is an incorrect calculation. Then it should work:
![Screenshot 2021-12-14 at 10 22 29](https://user-images.githubusercontent.com/20243258/145980149-d575c29f-194e-4413-b742-0b66d2eae9e2.png)
Then you need to fix your code in the way you are currently using difference i

[2021-12-15 09:10] #27 closed

[2022-04-22 13:20] akaraul opened #28 "First message question"
Hi!
How can I make it so that when I send the first and following messages in the chat, they are at the bottom of the screen?
Like Telegram, for example...
![Simulator Screen Shot - iPhone 13 - 2022-04-22 at 16 19 04](https://user-images.githubusercontent.com/20819174/164722257-21b5a4f8-ff3c-4831-a1f7-5eb291294b39.png)

[2022-04-25 08:45] ekazaev commented on #28
@akaraul Hi

Such behavior is not currently supported. The layout behaves like iMessage app or Whatsapp. To support such behavior it is requires to modify the layout itself. I may add it someday but cant guarantee that it is going to happen any time soon. Feel free to modify the layout yourself if you are in a rush and I will appreciate the PR.

[2022-04-30 17:06] ekazaev commented on #28
Closed due to inactivity

[2022-04-30 17:06] #28 closed

[2022-05-06 10:04] anhhtbk opened #29 "Sometime message of sender show to left"
Sometime message of sender show to left, after scroll it show to right
![IMG_0423](https://user-images.githubusercontent.com/17321700/167110949-805b337e-d4d5-4804-a96e-18490efee798.jpg)

[2022-05-06 12:26] ekazaev commented on #29
@anhhtbk Thank you. Can you provide some steps to reproduce? Also what ios version is it?

[2022-05-07 09:11] anhhtbk commented on #29
I clone again and it is normal, maybe I do something wrong.

[2022-05-07 09:11] #29 closed

[2022-06-14 12:01] akaraul opened #30 "Sticky headers"
Hi! How we can implement sticky headers? It's not possible now?

[2022-06-14 19:56] akaraul commented on #30
@Frizlab thanks! I will check your fork

[2022-06-15 13:30] Frizlab commented on #30
Forgot to say, the branch in the fork with my work is `frizlab`: https://github.com/Frizlab/STableLayout/tree/frizlab

[2022-06-28 08:49] ekazaev commented on #30
@Frizlab @akaraul I played around with the sticky headers and I came across similar issues. Id suggest to implement sticky headers without relying on the collection layout. I assume you want to use them for dates. I did some thing like that unrelated to the chat layout. And it was possible by listening UIScrollView events directly and adding views directly to the UICollectionView

[2022-06-28 10:33] akaraul commented on #30
Ok, thanks

[2022-06-30 10:12] ekazaev commented on #30
@Frizlab Do you have some branch that demoes your implementation of sticky headers? I checked out your project but I cant see anything in the Example app

[2022-06-30 16:06] Frizlab commented on #30
I did not. Just for you I created the `dev.demo` branch (which I might merge at some point in `develop`).
😉

[2022-06-30 16:09] Frizlab commented on #30
**Note**: I have a bug where a pinned item won’t push the previous pinned item when it becomes pinned. Section headers are properly pushed.
I workaround the bug in the example by playing with the `zPosition` of the date cells (which I had to do anyway because they had to be above the normal cells).

[2022-07-01 11:07] ekazaev commented on #30
Thank you @Frizlab Ill check your code when ill have more time. I also have a branch with sticky headers experiments, but I also did not completely succeeded there. Dont hesitate to ping me if youll have a proper solution.

Ill close this issue for now as sticky headers were never advertised as a feature. But they are doeable for sure above the collection layout level.

[2022-07-01 11:07] #30 closed

[2022-07-04 16:54] bezig01 opened #32 "Cells are not positioned right/left without chatLayout.invalidateLayout()"
@ekazaev thanks for such amazing project, I do not regret taking the time to study it.

I tried to solve the question why it happens that the cells after scrolling do not take into account their right / left position, this seems to be solved by periodically calling chatLayout.invalidateLayout() by timer, but this is not a solution.

As a basis, I took a simplified version from the sample applicati

[2022-07-05 13:52] ekazaev commented on #32
@bezig01 Thank you.
This is really strange behaviour tbh. But it doesnt happen in the Example app afaik. Neither I seen in in other projects I use this library. So to be able to help you I have to look into the code. Can you please provide the sample code that demonstrates such behaviour?

[2022-08-19 11:43] IAmConorNolan opened #33 "Chat doesn't correctly scroll to bottom after receiving a new message on iOS 16"
On iOS 16, the collection view doesn't correctly scroll to the bottom after receiving a new message.

Affected: All beta versions of iOS 16.

## Expected Behavior

If the user is scrolled to the bottom of the collection view.
When they receive a new message
They collection view should scroll down to show the new message

## Current Behavior

If the user is scrolled to the bottom of the collection

[2022-08-20 13:47] ekazaev commented on #33
@IAmConorNolan Hi, Thank you for the issue.

Yep, I also noticed it in the latest IOS 16 beta. I remember testing the layout in one of the first betas and it was allright. Can you please test latest version 1.2.4 and confirm that the bug is gone.

Regards,
Eugene

[2022-08-24 11:28] ekazaev commented on #33
@IAmConorNolan I am closing the issue due to incativity. If the new version did not solve your issue - feel free to reopen it

[2022-08-24 11:28] #33 closed

[2022-08-24 12:45] IAmConorNolan commented on #33
@ekazaev I can confirm this version resolved the issue. Thank you!

[2022-09-22 11:13] gellertk opened #34 "Doesn’t calculate layout when message text edit"
Hi can you fix this case, for example when message has one line text, and I edit this message to to two lined text, it doesn’t make space between edited message and last message

[2022-09-23 11:04] ekazaev commented on #34
Hi @gellertk

Sorry. I didnt really understand your request. Can you please explain in details and attach the screenshots or some code if possible if possible? If you reload the cell with the message in my understanding in should expand it.

[2022-09-27 10:13] gellertk commented on #34
Sorry from me) i just need possibility for recalculate layout if item size changed

https://user-images.githubusercontent.com/54902273/192499224-4929c13d-e0ec-4de9-8ea5-dcd3a87968c6.mov

[2022-09-28 10:52] ekazaev commented on #34
@gellertk

You can try it yourself to see that such behaviour works correctly. Modify this function in `DefaultChatController` to try yourself.

[code]

![changing_text_demo](https://user-images.githubusercontent.com/20243258/192761264-6fda9ae2-2842-42d4-9718-e6b6191d7421.gif)

[2022-09-28 15:49] ekazaev commented on #34
@gellertk Please let me know if you are satisfied with the answer

[2022-09-28 16:36] gellertk commented on #34
We use DifferenceKit for collection updating, and after some research i found - in example app after collectionView.reload( calling
[code]
But in my case it never called
And we also use sizeForItem and returning .exact sizes, do you have any thoughts about it?

[2022-09-28 20:03] ekazaev commented on #34
@gellertk I think it might be because you are using.exact sizes tbh. Can you check that when collection reloads this cell it asks delegate for the new size and you provide the updated one? It also of course can be an issue on my side. I don’t know anyone who uses exact sizes as the performance is poor in this case.

[2022-09-29 06:28] gellertk commented on #34
if i understand right u talking about sizeForItem function call after collection reloading?
No it doesnt call, cause doesnt call func invalidationContext, and func invalidationContext should call sizeForItem
[code]

[2022-09-29 09:19] ekazaev commented on #34
@gellertk Let me check that scenario and Ill come back to you

[2022-09-29 10:50] ekazaev commented on #34
@gellertk I tested your case in the example app and I can confirm that the layout works correctly.
You can try it yourself. In addition to the code snippet I gave you above - change text cell size calculation in the `sizeForItem` in `DefaultChatCollectionDataSource` to :
[code]

And it works as expected:
![changing_text_demo](https://user-images.githubusercontent.com/20243258/193011896-0bfdca99-fc

[2022-09-29 11:03] ekazaev commented on #34
@gellertk I did other checks and can confirm that the layout works as expected. Once again, you must call `reloadItem` so that layout knows that it needs to remeasure the cell. No matter if you do it manually or using the `DifferenceKit` or any other differencing algorithm.

The easiest way to debug the fact that you called a reload method is to add
[code]

to

[code]

in `ChatLayout`

That will r

[2022-09-29 13:44] ekazaev commented on #34
@gellertk You can even use available in ios 15 and onward `reconfigureItems` method. Add to the patch I gave you next code at line 477 in `ChatViewController`.

[code]

I am afraid that it is maximum I can do to help you.

You need to look for the problem in your code. You will actually have to share it or change the Example app the way so I could check your problem.

Best of luck.

[2022-10-04 10:09] ilia3546 commented on #34
@ekazaev Hi there!
I made a simple app which reproduces this problem — https://github.com/ilia3546/ChatLayout-SizeBugSample
Please check it, thank you ;)

[2022-10-04 12:06] ekazaev commented on #34
Hi @ilia3546 @gellertk

I checked your example. Thank you.

So the problem there is in the is in the cell implementation. Collection view asks each cell for its preferred size, which doesn't change in your case. Label just thrown there without any constraints and collection uses those values to decide if it should change something in the layout or not. You just changed label inside but for collect

[2022-10-04 13:30] ekazaev commented on #34
@ilia3546 @gellertk

I played around with it and it seems there is no harm to update those values from the delegate on reload call. So you'll get the expansion without overriding default `preferredLayoutAttributesFitting` implementation. Keep in mind that yet `UICollectionView` doesn't ask its layout if it should invalidate the cell so it may lead to some visual inconsistencies as some compensatio

[2022-10-04 14:00] ilia3546 commented on #34
Awesome! Thank you so much!

[2022-10-04 14:42] ekazaev commented on #34
@ilia3546 My pleasure. Keep in mind that `preferredLayoutAttributesFitting` is actually the right place for such manipulations.

[2022-10-04 14:42] #34 closed

[2022-10-06 12:11] danabeknar opened #35 "ChatLayout Example as a separate UI library"
Hey @ekazaev,

I've run and looked through the example project. It feels great to use as it already handles most of the UI cases. Don't you consider releasing it as an additional library to ChatLayout?

Thanks.

[2022-10-06 23:52] farshadmb opened #36 "Xcode version 13.2 build issue"
Hi bro,
I use Xcode `13.2` as a daily basis IDE. however, I met a compile error `segmentation fault 11` for some files such as `StateController` line 675 columns 13. I've also realized that there is no Xcode backward compatibility. I've wondered so much as well.

Do you have any clue what's wrong with it?

[2022-10-07 10:44] farshadmb commented on #36
@ekazaev I highly encourage you to create a GitHub action workflow to run test cases on a specified Xcode version.
I would like to create one for you.

[2022-10-07 11:18] ekazaev commented on #36
`segmentation fault 11` It is a bug in the compiler at the first place, but it is not even important in this case. Another thing is that I have already moved to swift 5.7 in July where that expression is a valid string. I can fix it but you may get next problem with  `#unavailable` or something like this. So I am not sure if I have to do something about it as if you are using the previous version

[2022-10-07 11:22] ekazaev commented on #35
@danabeknar Ill close this issue. If you have more to add here - please feel free to reopen it.

[2022-10-07 11:22] #35 closed

[2022-10-07 15:30] farshadmb commented on #36
@ekazaev I will do it as fast as I could. also, I provide a GitHub action for this repository as well because Github makes totally free for open projects such as yours.

[2022-10-07 17:54] ekazaev commented on #36
@farshadmb Thank you. Ill also have a look when ill have time.
But I assure you that there is nothing wrong with the older version of the library, so if you can not update your xcode just temporary - just use the older version. There was only one problematic version where i had a typo in a binary search algorithm and i think i fixed it in swift 5.2 version. But its such a small defect that you may

[2022-10-10 11:20] ekazaev commented on #36
@farshadmb Morning. I have checked the library in XCode 13.2. The issue is not in the line that you pointed our but in the use of the associated values in the models and it is clearly a compiler but. But anyways I made for you a version of the library that compiles in XCode 13.2. You can check it out in the branch `origin/xcode_13_2_issue`.

Please, let me know if I can help you further.

[2022-10-13 15:31] ekazaev commented on #36
@farshadmb Ill close this issue for now. Hope the branch I provided will cover your needs. Please dont hesitate to reopen this issue if you need any further assistance.

[2022-10-13 15:31] #36 closed

[2022-10-13 16:42] farshadmb commented on #36
Thanks, I will work on it in my spare time, however, my plate is so full.

[2022-10-14 09:50] ekazaev commented on #36
I know your pain :) . Best of luck.

[2022-10-31 06:04] LEEKIWAN opened #37 "question] position & scrolling"
https://user-images.githubusercontent.com/30687224/198941595-f622ebd0-db0f-4a52-9807-5297461f202a.mp4

hello

After loading data, move to the "Read this far" cell. However, there is a phenomenon of tingling when scrolling from top to bottom after not going to the correct movement.

Conversely, there is no issue when scrolling from bottom to top after loading. I'll attach a video and some code, so

[2022-10-31 23:31] ekazaev commented on #37
@LEEKIWAN Hi. Ill try to have a look tomorrow. I haven’t seen anything like this before. Technically If you start the Example app, rotate it to album mode, then scroll it up enough like 3-4 previous messages loads. Then rotate it back to portrait mode it should behave like you described as it doesn’t know the exact size of the cells below anymore and computes the layout on fly like in your case. B

[2022-11-02 07:22] nugmanoff opened #38 "Weird update animation of the cell"
Hey @ekazaev! Thanks for all the hard work you have done to make this thing work!
And without your Example app – we'd be lost as well. It is a huge source of inspiration and foundation to start building on.
I am yet founding my way around the library and all of the smart tricks you implement in example app.

There is one particular issue that I am facing right now when performing the updates, here

[2022-11-02 08:48] #38 closed

[2022-11-02 11:22] ekazaev commented on #37
@LEEKIWAN I could not reproduce your behaviour. Do you have any update for me?

[2022-11-02 17:23] ekazaev commented on #38
Hi @nugmanoff

Thank you for the nice words. Happy to see that the issue is resolved. Best of luck.

Eugene

[2022-11-03 03:18] LEEKIWAN commented on #37
Thank you for quick response.
I wanted to create a separate project and share it, but it took too much time, so I stopped.
I haven't solved it yet, but I'll keep looking at the sample project and try to solve it.
thank you

[2022-11-03 10:57] ekazaev commented on #37
@LEEKIWAN Good luck. Keep me posted.

[2022-11-07 11:29] ekazaev commented on #37
@LEEKIWAN Ill close this issue for now. Feel free to reopen it if you have more information how to reproduce it.

[2022-11-07 11:29] #37 closed

[2022-11-09 12:30] danabeknar opened #39 "Correct way of layouting subviews"
Hey @ekazaev!

I'm building a chat application on top of the `Example` project and trying to implement a view with following subviews (please see an attached image):
1) Author label
2) Image
3) Reactions
4) Date

These subviews are added as an arranged subview to a vertical `UIStackView`, which is added as a single subview to a let's call it `MainView` and used like `TextMessageView` or `ImageView

[2022-11-10 10:43] ekazaev commented on #39
@danabeknar hi

Thank you for the question.

There is nothing wrong with using UIStackView if you feel that it is suitable for your case. I use them everywhere.

When it comes to reactions i would suggest to use another container view above ImageView or what ever where you allocate your reactions if you have some. And if youll call the reload of such cell - the new size will be calculated using au

[2022-11-14 12:42] ekazaev commented on #39
@danabeknar I close this issue. Feel free to reopen if you need more info about this case

[2022-11-14 12:42] #39 closed

[2022-11-18 01:48] LEEKIWAN commented on #37
@ekazaev I created a sample project that reproduces it.
Could you please check if possible?

https://github.com/LEEKIWAN/ChatExam